@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
  display: flex;
}